p {
    font-family: Lato;
  }
   ::ng-deep .ui-datatable .ui-datatable-loading {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.2;
    }
    ::ng-deep .ui-datatable .ui-datatable-loading-content {
        position: absolute;
        left: 50%;
        top: 25%;
    }
    inaam{
   right : center;
    }