

<p-dataTable *ngIf="mergeRequestList.length>0" [value]="mergeRequestList" [rows]="10" [paginator]="true" selectionMode="single" [pageLinks]="3">
  <p-column field="id" header="id"></p-column>
  <p-column field="merge_when_pipeline_succeeds" header="merge when pipeline succeeds"></p-column>
  <p-column field="target_branch" header="target_branch"></p-column>
  <p-column field="state" header="state"></p-column>
  <p-column field="target_project_id" header="target_project_id"></p-column>
  <p-column field="work_in_progress" header="work_in_progress"></p-column>
  <p-column field="source_branch" header="source_branch"></p-column>
  <p-column field="merged_by.id" header="merged by"></p-column>
  <p-column field="project_id" header="project_id" [style]="{'width': '120px'}"></p-column>
    <p-column field="merge_status" header="merge_status" [style]="{'width': '120px'}"></p-column>

 <p-column header="Operation" >
<div style="right: 80%;">
    <ng-template let-row="rowData" pTemplate="body">
 <p-button  styleClass="ui-button-inof" icon="fas fa-eye" ></p-button>
     

  
    </ng-template>

  </div>
  </p-column>


</p-dataTable>

