
<div class ="container">
       
  <p-toolbar >
      <div class="ui-toolbar-group-left">
  
              
          <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>
          
   
      </div>
      
      <div class="ui-toolbar-group-right">
         
          <button pButton type="button"  icon="fas fa-cogs" (onClick)="showDialog()"class="ui-button-success"></button>
          <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
      </div>
  </p-toolbar>
   <!--div class="container2" *ngIf="display" >
          <hr>

       <h5>My Links</h5>
  <div *ngFor="let bt of buttons">
          <a href="{{bt.url}}" target="_blank">
              <button type="button" class="btn btn-primary">{{bt.name}}</button>
          </a>
          <br>
          <br>
    
       
</div!-->
</div>

<div class="container" style="margin-top: 4%" *ngIf="!display">

<div  [formGroup]="profileForm">
<div formArrayName="aliases">
<fieldset id="titre"> 
  <table> 
  <tr>
   <p-button style="margin-top: 9%" icon="pi pi-plus" label ="Add" (onClick)="addlink()" ></p-button></tr>
  <td style="padding-left: 4px;" valign="top"><label><h5>Name :</h5> </label><br></td> 
  <td style="padding-left: 4px;" valign="top"><label><h5>Url :</h5> </label></td> 

 
  <tr *ngFor="let address of aliases.controls; let i=index"> 
    
  <td> <input type="text"   name="name"  #name  [formControlName]="i" size=25 id="name"  tabindex="10"></td>{{i}}
  <td> <input type="url"     name="url"    #url   [formControlName]="i" id="url" size=25 tabindex="55"></td>

  <td><p-button styleClass="ui-button-primary" style="margin-top: 1%" icon="fas fa-check"  (onClick)="save(name.value , url.value)"  ></p-button></td>
  <td>
  <p-button styleClass="ui-button-danger" style="margin-top: 1%" icon="fas fa-times-circle"   (onClick)="deleteform()" ></p-button>
 
  
  </td>

  </tr> 
  </table> 
  </fieldset> 
  </div>
  </div>
  
<!---div *ngFor="let bt of buttons">
    <a href="{{bt.url}}" target="_blank">
        <button type="button" class="btn btn-primary">{{bt.name}}</button>
    </a>
    <br>
    <br>
   
</div-->

<div class="ui-g-12 form-group">
        <div class="ui-inputgroup">
<p-button style="margin: auto" type="button" label="save" icon="fas fa-save" (onClick)="savebd()"class="ui-button-warning"></p-button>
</div>
</div>

</div>
<div class="container2" *ngIf="display" >
<div class="card" style="margin-top: 1%">
      <div class="card-body">
        <form>
          <div class="form-group">
                  <h5>My Links</h5>
                  <hr>
                 
                       
          
                     
                  <div *ngFor="let bt of buttons">
                          <a href="{{bt.url}}" target="_blank">
                              <button type="button" class="btn btn-primary">{{bt.name}}</button>
                          </a>
                          <br>
                          <br>
                    
                       
                
   </div></div>
           
        </form>
      </div>
  </div>

  
    </div>
  