

<div class="container">
  <div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
         
            <div class="uk-width-expand">
              
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2018-04-01T19:00"></time></p>
            </div>
        </div>
    </div>

    <div class="uk-card-footer">
       <!--  <app-spinner *ngIf="!feeds.length"></app-spinner> -->
        <app-feed-card *ngFor="let feed of feeds" [feed]="feed" >

        </app-feed-card>
       
        
    </div>
</div>
</div>
