<!--div class="container">
<div class="row">
 <div class="col-md-7 ">

 <p-panel header="User Profile" [style]="{'margin-bottom':'20px', 'width' :'80%' }">
<div class="box box-info">
                  
<div class="box-body">
<div class="col-sm-6">
 <div  align="center"> 
<img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
 <h3 class="first">{{currentUser.firstname}} -- {{currentUser.lastname}}</h3>
                        
                                 
<input id="profile-image-upload" class="hidden" type="file">
<div style="color:rgb(122, 115, 115);" >click here to change profile image</div>
                          <!--Upload Image Js And Css-->
              
                            
 <!--p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
<div class ="container2">

<div class="row mb-3">
<div class="col-sm-3"><strong>Firstname: </strong></div>
<div class="col-sm-7">{{ currentUser.firstname }}</div>
                                 
</div>
 <div class="row mb-3">
 <div class="col-sm-3"><strong>Lastname: </strong></div>
<div class="col-sm-9">{{ currentUser.lastname }}</div>
</div>
<hr/>
                              <div class="row mb-3">
                                  
                                  <div class="col-sm-3"><strong> Uid: </strong></div>
                                  <div class="col-sm-9">{{ currentUser.uid }}</div>
                              </div>
                              <div class="row mb-3">
                                  <div class="col-sm-3"><strong>UserType:</strong></div>
                                  <div class="col-sm-9">{{ currentUser.userType }}</div>
                              </div>
                         
             </div>
             </div>
             </div>
             </div>
             </div>
       
        
            </p-panel>
        </div>  
    </div>     <!-- /input-group -->
                    
  
<!--/div>
            <!--h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h5>{{currentUser.firstname}} -- {{currentUser.lastname}}</h5>
  <p class="title">CEO & Founder, Example</p>
  <p>{{ currentUser.userType }}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
</div!-->
<div class="container">
<p-panel header="User Profile" [style]="{'margin-bottom':'20px', 'width' :'80%' }">
<div class="card">
        <div  align="center"> 
        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
      </div>
        <input id="profile-image-upload" class="hidden" type="file">
        <div style="color:rgb(122, 115, 115);" >click here to change profile image</div>
                                  <!--Upload Image Js And Css-->
                      
                                    
         <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
    <!--img src="img.jpg" alt="John" style="width:100%"-->
    <h3 >{{currentUser.firstname}} -- {{currentUser.lastname}}</h3>
    <p class="title">{{ currentUser.uid }}</p>
    <p>{{ currentUser.userType }}</p>
   <label> <a href="#"><i class="fas fa-dribbble-alt"></i></a> 
    <a href="#"><i class="fab fa-youtube"></i></a> 
    <a href="#"><i class="fab fa-linkedin"></i></a> 
    <a href="#"><i class="fab fa-google-plus-g"></i></a> </label>
 
  </div>
  </p-panel>

</div>