<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>

<div class="container">

  <h2 class="title">Missions</h2>

  <hr>

  <p>

    <p-progressBar mode="indeterminate" *ngIf="showLoading"></p-progressBar>

  </p>

  <p-dataTable [tableStyle]="{'table-layout':'auto'}" *ngIf="missionList.length>0" [value]="missionList" [rows]="10" [paginator]="true" selectionMode="single" [pageLinks]="3">
    <p-column field="user" header="Collaborater">

        <ng-template let-row="rowData" pTemplate="body">
          {{row.user.lastname}} {{row.user.firstname}}
        </ng-template>

    </p-column>
    <p-column field="object" header="Mission Object"></p-column>
    <p-column field="startDate" header="Departure Date"></p-column>
    <p-column field="endDate" header="Return Date"></p-column>
    <p-column field="websites" header="Web Site"></p-column>
    <p-column field="paperType" header="Paper"></p-column>
    <p-column field="missionTotalPrice" header="Total Price $"></p-column>
    <p-column field="missionFlight.destination" header="Airport Destination"></p-column>
    <p-column field="missionHotel.property_name" header="Hotel"></p-column>
    <p-column field="missionStatus" header="Status" [style]="{'width': '120px'}">
      <ng-template let-row="rowData" pTemplate="body">

        <p-button label="Accepted" *ngIf="row.missionStatus=='accepted'" styleClass="ui-button-success"></p-button>
        <p-button label="Rejected" *ngIf="row.missionStatus=='rejected'" styleClass="ui-button-danger"></p-button>
        <p-button label="Pending" *ngIf="row.missionStatus=='pending'" styleClass="ui-button-warning"></p-button>

      </ng-template>
    </p-column>

    <p-column header="Operation" >

      <ng-template let-row="rowData" pTemplate="body" >

        <p-button styleClass="ui-button-inof" icon="fas fa-eye" (onClick)="showMission(row)" style="display: table ; margin: auto auto"></p-button>
        
      </ng-template>


    </p-column>


  </p-dataTable>




  <p-dialog header="Mission details" [(visible)]="display" *ngIf="display">


      <h4 class="first">User Details</h4>


      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-pen"></i>
          </span>

          User 

        </div>
        <div class="col-lg-8">{{missionToShow.user.firstname}} {{missionToShow.user.lastname}}</div>
      </div>
      <div class="row">
          <div class="col-lg-4">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-pen"></i>
            </span>
  
            Email 
  
          </div>
          <div class="col-lg-8">{{missionToShow.user.email}}</div>
        </div>
      <hr>



      <h4 class="first">Mission Details</h4>


      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-pen"></i>
          </span>

          Mission Object

        </div>
        <div class="col-lg-8">{{missionToShow.object}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-pen"></i>
          </span>

          Mission Destination

        </div>
        <div class="col-lg-8">{{missionToShow.destination}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-map-marked-alt"></i>
          </span>

          Mission City

        </div>
        <div class="col-lg-8">{{missionToShow.city}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fab fa-internet-explorer"></i>
          </span>

          Web Site

        </div>
        <div class="col-lg-8">{{missionToShow.websites}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-clock"></i>
          </span>

          Start Date

        </div>
        <div class="col-lg-8">{{missionToShow.startDate}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-clock"></i>
          </span>

          End Date

        </div>
        <div class="col-lg-8">{{missionToShow.endDate}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-paperclip"></i>
          </span>

          Paper Type

        </div>
        <div class="col-lg-8">{{missionToShow.paperType}}</div>
      </div>

      <hr>
      <h4>Flight Details</h4>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-pen"></i>
          </span>

          Flight Departure Date

        </div>
        <div class="col-lg-8">{{missionToShow.missionFlight.departure_date}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-pen"></i>
          </span>

          Flight Destination

        </div>
        <div class="col-lg-8">{{missionToShow.missionFlight.destination}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-pen"></i>
          </span>

          Price

        </div>
        <div class="col-lg-8">{{missionToShow.missionFlight.price}} $</div>
      </div>
      <hr>
      <h3>Hotel Details</h3>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-pen"></i>
          </span>

          Hotel

        </div>
        <div class="col-lg-8">{{missionToShow.missionHotel.property_name}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-pen"></i>
          </span>

          Adress

        </div>
        <div class="col-lg-8">{{missionToShow.missionHotel.address.line1}} - {{missionToShow.missionHotel.address.city}} - {{missionToShow.missionHotel.address.country}}</div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-pen"></i>
          </span>

          Price :

        </div>
        <div class="col-lg-8">{{missionToShow.missionHotel.total_price.amount}} $</div>
      </div>

      <hr>
      <h4>Mission Total Price</h4>

      <div class="row">
        <div class="col-lg-4">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-pen"></i>
          </span>

          Total :

        </div>
        <div class="col-lg-8">{{missionToShow.missionTotalPrice}} $</div>
      </div>
      <hr>
   
      <div class="row">
          <div class="col-lg-4">
            <span class="ui-inputgroup-addon">
              Mission Status :
            </span> 
  
          </div>
          <div class="col-lg-8">
              <p-button label="Accepted" *ngIf="missionToShow.missionStatus=='accepted'" styleClass="ui-button-success"></p-button>
              <p-button label="Rejected" *ngIf="missionToShow.missionStatus=='rejected'" styleClass="ui-button-danger"></p-button>
              <p-button label="Pending" *ngIf="missionToShow.missionStatus=='pending'" styleClass="ui-button-warning"></p-button>  
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <p-button label="Accept" *ngIf="missionToShow.missionStatus=='pending'" styleClass="ui-button-success" (onClick)="acceptRejectMission(missionToShow, 'a')"></p-button>
            </div>
            <div class="col-lg-6">
                <p-button label="Reject" *ngIf="missionToShow.missionStatus=='pending'" styleClass="ui-button-danger" (onClick)="acceptRejectMission(missionToShow, 'r')"></p-button>
            </div>
          </div>





  </p-dialog>





</div>
