<div class="container5">
  <div class="row">
    <div class="col-md-8">
      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
              data-toggle="tab"><i class="fas fa-cogs"></i>Slide 1</a>
          </li>
          <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"> <i
                class="fas fa-video"></i>Slide 2</a></li>
          <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><i
                class="fas fa-book"></i>Slide 3</a></li>
          <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab">Slide 4</a>
          </li>
        </ul>




        <div class="tab-content tabs">

          
            <ul>
              <li style="display: inline-block ; width : 100%">
                <p-panel>
                  <p-header>
                    <i class="fas fa-bars"></i>
                    <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
                      <h5>List Of Branches </h5>
                    </span>


                  </p-header>
                  <div>
                    <label>Branches Gitlab: </label>
                    <select>
                      <option value="0">--All--</option>
                      <option *ngFor="let branches of lsitOfBranches" value={{summary}}>
                        {{branches.name}}
                      </option>
                      
                    </select>
                    <div class="ui-g-12 form-group">
                      <div class="ui-inputgroup">
                        <button pButton type="submit" style="margin : auto"  label="commit"></button>
                      </div>
                    </div>
                  </div>

                </p-panel>
              </li>


            </ul>

          </div>
          <!--/div-->




          <div role="tabpanel" class="tab-pane fade" id="Section2">



            <p-scrollPanel [style]="{width: '50%', height: '900px'}" styleClass="custombar1">
              <div style="padding:1em;line-height:1.5">
              </div>
            </p-scrollPanel>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section3">
            <div style="padding:1em;line-height:1.5">
              <p-scrollPanel [style]="{width: '50%', height: '900px'}" styleClass="custombar1">


              </p-scrollPanel>
              <div role="tabpanel" class="tab-pane fade" id="Section4">
                <div style="padding:1em;line-height:1.5">
                  <p-scrollPanel [style]="{width: '50%', height: '50px'}" styleClass="custombar1">
                    hello

                  </p-scrollPanel>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>