
<ul *ngFor="let item of users" >
        {{item.firstName}} --- {{item.lastName}} : number of missions {{item.nbOfMissions}}
        
        </ul>
<p-chart *ngIf="data" type="pie" [data]="data">{{chart}}</p-chart>






