<div class="header">

 
<div class="rightElement">


  

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       
  <span *ngIf="currentUser.userType=='admin'">
    Admin :
  </span> 
  <span *ngIf="currentUser.userType=='collaborator'">
      Collaborator :
    </span> 

    <span *ngIf="currentUser.userType=='validator'">
        Validator :
      </span> 
      
      
      {{currentUser.firstname}} {{currentUser.lastname}}  <i class="fa fa-user"></i> <b class="caret"></b>
      
    </button>
    
    <div class="container">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" [routerLink]="['/profile-admin']"> <i class="fa fa-fw fa-user">Profile</i></a>
      <a class="dropdown-item" href="#"><i class="fa fa-fw fa-gear"></i> Setting</a>
      <a class="dropdown-item" [routerLink]="['/notification']"><i class="fa fa-fw fa-envelope"></i>Inbox</a>
      <a class="dropdown-item" [routerLink]="['/']" (click)="logOut($event)">
        <i class="fa fa-fw fa-power-off">LogOut</i>
      </a>
    </div>
  </div>
</div>
</div>

</div>

<div class="row">
  <div>
    <div class="side-nav">

      <div class="logo">
        <span>Vermeg</span>

      </div>


      <nav>

        <ul>
            <li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
                <span>
                  <i class="fa fa-briefcase"></i>
             
                </span>
                <span>
                
                  <a class="nav-link" href="#" routerLink="/x">Dashboard</a>
                </span>
            </li>
            <li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
              <span>
                <i class="fa fa-history"></i>
              </span>

              <span>
                <a class="nav-link" href="#" [routerLink]="['/inaam']">Bar</a>
              </span>
          </li>
          <li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
            <span>
              <i class="fa fa-history"></i>
            </span>

            <span>
              <a class="nav-link" href="#" [routerLink]="['/line']">Line</a>
            </span>
        </li>
        <li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
          <span>
            <i class="fa fa-history"></i>
          </span>

          <span>
            <a class="nav-link" href="#" [routerLink]="['/pie']">Pie</a>
          </span>
      </li>
            <!--li routerLinkActive="active current" *ngIf="currentUser.userType=='admin'">
                <span>
                  <i class="fa fa-briefcase"></i>
                </span>
                <span>
                  <a class="nav-link" href="#" routerLink="/dashcol">Dashboard</a>
                </span>
            </li-->
        
            <li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
                <span>
                  <i class="fa fa-briefcase"></i>
                </span>
                <span>
                  <a class="nav-link" href="#" routerLink="/descr">New Mission</a>
                </span>
            </li>

          <li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
              <span>
                <i class="fa fa-history"></i>
              </span>

              <span>
                <a class="nav-link" href="#" [routerLink]="['/history']">My History</a>
              </span>
          </li>
     

         
     
          <li routerLinkActive="active current" *ngIf="currentUser.userType=='validator'">
            <span>
              <i class="fa fa-briefcase"></i>
            </span>
            <span>
              <a class="nav-link" href="#" routerLink="/dashval">Dashboard</a>
            </span>
        </li>
      

          <li routerLinkActive="active current" *ngIf="currentUser.userType=='validator'">
              <span>
                <i class="fa fa-address-book"></i>
              </span>
              <span>
                <a class="nav-link" href="#" routerLink="/validateMissions">Missions</a>
              </span>
          </li>
   


       
          <li routerLinkActive="active current" *ngIf="currentUser.userType=='admin'">
            <span>
              <i class="fa fa-briefcase"></i>
            </span>
            <span>
              <a class="nav-link" href="#" routerLink="/dashcol">Dashboard</a>
            </span>
        </li>

          <li routerLinkActive="active current" *ngIf="currentUser.userType=='admin'">
              <span>
                <i class="fas fa-plus"></i>

              </span>
              <span>
                <a class="nav-link" href="#" routerLink="/addUserAdmin">Add User</a>
              </span>
          </li>
          <li routerLinkActive="active current" *ngIf="currentUser.userType=='admin'">
            <span>
              <i class="fas fa-users"></i>
            </span>
            <span>
              <a class="nav-link" href="#" routerLink="/usersAdmin">Users</a>
            </span>
        </li>
  
      <li routerLinkActive="active current" *ngIf="currentUser.userType=='admin'">
        <span>
          <i class="fas fa-users"></i>
        </span>
        <span>
          <a class="nav-link" href="#" routerLink="/menuslide">test</a>
        </span>
    </li>
    <li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
      <span>
        <i class="fas fa-users"></i>
      </span>
      <span>
        <a class="nav-link" href="#" routerLink="/menuslide">test</a>
      </span>
  </li>

  <li routerLinkActive="active current" *ngIf="currentUser.userType=='admin'">
      <span>
        <i class="fas fa-cogs"></i>
   
      </span>
      <span>
      
        <a class="nav-link" href="#" routerLink="/setting">setting</a>
      </span>
  </li>
 

  <li routerLinkActive="active current" *ngIf="currentUser.userType=='admin'">
    <span>
      <i class="fas fa-cogs"></i>
 
    </span>
    <span>
    
      <a class="nav-link" href="#" routerLink="/branche">List Of Branche</a>
    </span>
</li>

  <!--li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
    <span>
      <i class="fas fa-cogs"></i>
 
    </span>
    <span>
    
      <a class="nav-link" href="#" routerLink="/rss">fluxrss</a>
    </span>
</li-->
<!--li routerLinkActive="active current" *ngIf="currentUser.userType=='collaborator'">
    <span>
      <i class="fas fa-cogs"></i>
 
    </span>
    <span>
    
      <a class="nav-link" href="#" routerLink="/reader">actualite</a>
    </span>
</li-->

 
        </ul>

      </nav>
    </div>

  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
