.login-box{
   
    position: relative;
    background: rgba(130,130,130,.3);
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(10, 10, 10, 0.4);
    border-bottom-color: rgba(60,60,60,.4);
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -9%;
    padding: 20px 17px;
  
  }
.logo{
    margin-top:-15%;
    margin-left: -40px; 
}
.user{
    height: 50px;
    width:10px;
    font-size: 300px;
    border-radius: 50%;
    position: absolute;
    top:-20px;
    left:calc(-5%);
}
.container{
        position: absolute;
        right: 100%;
        width: 100%;
        margin-right: -500px;
}
h3{
    margin-left : 2.2%
  }

.p{
    margin-left: 30%;
    margin-top: 5%;
  
    color: rgb(36, 2, 2);
}
.pos{
   margin-left: 35%;

    top:50%
}
h5{
    color: red
}

.back{

    padding: 200px;
    margin: 0px;
    background: url("http://www.cjnotebook.com/wp-content/uploads/2017/10/airline.jpg");
  
   
     font-family: sans-serif;
     background-attachment: fixed;     
     background-position: center;
  
     background-repeat: no-repeat;
     background-size:cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     min-height: 100%;
     min-width: 1024px;
   
     /* Set up proportionate scaling */
     width: 100%;
     height: auto;
   
     /* Set up positioning */
     position: fixed;
     top: 0;
     left: 0;
     
     
     
    
  }

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {


  margin: 0;

}

i{
    padding-left : 5px; 
    padding-right: 7px ; 
    padding-top: 5px ; 
}

.alert{
    padding: 8px ; 
    margin-top : 10px ;
    margin-bottom: -1rem;
}