<div class="back">


<p-growl [(value)]="msgs"></p-growl>

<div class="login-box">
  <div class="logo">
    <img src="http://acainsuranceday.lu/wp-content/uploads/vermeg_logo_small.png">
  </div>


  <div class="container">


    <p-progressBar mode="indeterminate" *ngIf="showProgressBar"></p-progressBar>

    <h3 class="first">Login</h3>

    <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()" >

      <div class="ui-g-12">

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-at"></i>
            </span>
            <input [(ngModel)]="email" type="email" pInputText placeholder="Email" formControlName="email">
          </div>
          <div class="alert alert-danger" *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched">Invalid email adress</div>
        </div>

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-key"></i>
            </span>
            <input [(ngModel)]="password" type="password" pInputText placeholder="Password" formControlName="password">
          </div>
          <div class="alert alert-danger" *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched">Invalid password, minimum length should be 6 </div>
        </div>

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <button pButton style="margin : auto" type="submit" label="Login"></button>
          </div>
        </div>

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <a href="#" style="margin : auto" [routerLink]="[{ outlets: { loginOutlet: ['register'] } }]">Create account</a>
          </div>
        </div>

      </div>

    </form>



  </div>


</div>

</div>
