[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],

textarea {


  margin: 0;

}

i{
    padding-left : 5px; 
    padding-right: 7px ; 
    padding-top: 5px ; 
}

.alert{
    padding: 8px ; 
    margin-top : 10px ;
    margin-bottom: 10px ;
}
.paperType{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

