<p-growl [(value)]="msgs"></p-growl>

<p-panel header="Flight and Hotel Booking">

  <form (ngSubmit)="submitFlightHotelMission()" [formGroup]="missionBooking">

    <div class="ui-md-12">

      <h4 class="first">Flight Booking & Hotel Booking</h4>

      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon" style="height: 39px;">
            <i class="fas fa-plane-departure"></i>
          </span>
          <p-autoComplete [style]="{'width':'600px', 'margin':'0'}" formControlName="flightDeparture" [minLength]="1" [(ngModel)]="textDeparture" [suggestions]="resultsDeparture"
            (completeMethod)="searchDeparture($event)"></p-autoComplete>
        </div>
        <div class="alert alert-danger" *ngIf="missionBooking.get('flightDeparture').invalid && missionBooking.get('flightDeparture').touched">
          Mission Departure is required</div>
      </div>

      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon" style="height: 39px;">
            <i class="fas fa-plane-arrival"></i>
          </span>
          <p-autoComplete [style]="{'width':'600px', 'margin':'0'}" formControlName="flightArrival" [minLength]="1" [(ngModel)]="textArrival" [suggestions]="resultsArrival"
            (completeMethod)="searchArrival($event)"></p-autoComplete>
        </div>
        <div class="alert alert-danger" *ngIf="missionBooking.get('flightArrival').invalid && missionBooking.get('flightArrival').touched">
          Mission Arrival is required</div>
      </div>

      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
              <i class="fas fa-calendar-alt"></i>
            </span>
          <input [(ngModel)]="flightStartDate" formControlName="flightDate" type="date" pInputText placeholder="Flight Arrival" name="flightArrival">
        </div>
        <div class="alert alert-danger" *ngIf="missionBooking.get('flightDate').invalid && missionBooking.get('flightDate').touched">
          Mission Start Date is required</div>
      </div>


      <div class="form-group">
        <div class="ui-inputgroup">
          <p-button style="margin : auto" label="Search" (onClick)="searchFligh($event)"></p-button>
        </div>
      </div>

      <div class="form-group" *ngIf="volDisp.length>0">
        <h5>Available Flights</h5>
        <div class="ui-inputgroup">

          <p-dataTable *ngIf="volDisp.length>0" [value]="volDisp" [rows]="5" [paginator]="true" selectionMode="single" [pageLinks]="3"
            (onRowSelect)="selectFlight($event)">
            <p-column field="destination" header="Destination"></p-column>
            <p-column field="departure_date" header="Departure Date"></p-column>
            <p-column field="return_date" header="Return Date"></p-column>
            <p-column field="price" header="Price $"></p-column>
            <p-column field="airline" header="Airline Code"></p-column>
          </p-dataTable>
        </div>
      </div>


      <hr>

      <!-- Hotel booking -->

      <div class="form-group" *ngIf="hoteldispo.length>0">
          <h5>Available Hotels</h5>
        <div class="ui-inputgroup">

          <p-dataTable selectionMode="single" (onRowSelect)="selectHotel($event)" *ngIf="hoteldispo.length>0" [value]="hoteldispo"
            [rows]="3" [paginator]="true" [pageLinks]="5">
            <p-column field="location.longitude" header="Location Longitude"></p-column>
            <p-column field="location.latitude" header="Location Latitude"></p-column>
            <p-column field="property_name" header="Property name"></p-column>
            <p-column field="address.city" header="City Adress"></p-column>
            <p-column field="address.region" header="Region Adress"></p-column>
            <p-column field="total_price.amount" header="Price Amount"></p-column>
            <p-column field="total_price.currency" header="Price Currency"></p-column>
            <p-column field="min_daily_rate.amount" header="Min Daily Rate"></p-column>

          </p-dataTable>

        </div>
      </div>

      <hr>

      <div class="form-group">
        <div class="ui-inputgroup">

          <p-button style="margin : auto" type="submit" label="Next"></p-button>

        </div>
      </div>







    </div>
  </form>

</p-panel>
