

<div class ="container">

<p-toolbar>
    <div class="ui-toolbar-group-left">

            
        <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>
        
 
    </div>
    
    <div class="ui-toolbar-group-right">
       
        <button pButton type="button" icon="fas fa-cogs" class="ui-button-success"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
    </div>
</p-toolbar>

    <table>
        <tr *ngFor ="let x of links">
        <td>
        <label for="name">Name</label> :<br/>
        <input type="text" value="{{x.name}}" name="name"   tabindex="10" />
        <label for="url">Url</label> :<br />
        <input type="text"  value="{{x.url}}" name="url"  id="url" tabindex="55" />
        </td>
                 
        <td>
        
        </td>
                
      </tr>
        
         
            <tr>
    </tr>
    <tr>
   </tr>
                 
</table>
<div class ="container">

    <p-toolbar>
        <div class="ui-toolbar-group-left">
    
                
            <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>
            
     
        </div>
        
        <div class="ui-toolbar-group-right">
           
            <button pButton type="button" icon="fas fa-cogs" class="ui-button-success"></button>
            <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
        </div>
    </p-toolbar>
    
    <br><br>
    <h5>Common Links</h5>
        -  <button pButton type="button" label="Link" class="ui-button-rounded"></button><br>
      <h5>Common Links</h5>
         -<p-button styleClass="ui-button-inof" label="Gmail" (onClick)="logingoogle()"></p-button>
         <br>
         <br>
      
          -<p-button styleClass="ui-button-inof" label="Drive" (onClick)="logindrive()"></p-button>
  </div>
    <br><br>


 