<div class="container">

    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false">
    </p-steps> <br>

    <app-mission-descreption *ngIf="activeIndex==0" [mission]="missionDetails" [activeIndex]="activeIndex" (nextStep)="nextStep($event)"></app-mission-descreption>
    <app-mission-flight *ngIf="activeIndex==1" [mission]="missionDetails" [activeIndex]="activeIndex" (nextStep)="nextStep($event)"  ></app-mission-flight>
    <app-mission-validation *ngIf="activeIndex==2" [mission]="missionDetails"></app-mission-validation>

</div>

