.containerComp{
    margin-left: 5% !important;
    margin-top: 10% ; 

}
.containerd{
   
        padding-top:70px;
        padding-left:250px;
        padding-right:5px
  
}
.ui-steps .ui-steps-item {
    width: 200%;

}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}
 
.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
  
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #050101;
}
.container2{
    margin-left: 50%
}

.mycontainer{
    display: contents;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 5%;
}

.ui-steps .ui-steps-item {
    width: 32.2%;
    margin-top: 5%;

  
 
}
.container{
    margin-left: 20%
}

