<div class="container">

  <h2 class="title">Add User</h2>

  <div class="container">
    <p-growl [(value)]="msgs"></p-growl>

    <p-progressBar mode="indeterminate" *ngIf="showProgressBar"></p-progressBar>

    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">

      <div class="ui-g-12">

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-user"></i>
            </span>
            <input [(ngModel)]="user.firstname" type="text" pInputText placeholder="First Name" formControlName="firstname">
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('firstname').invalid && registerForm.get('firstname').touched">First Name is required</div>
        </div>


        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-user"></i>
            </span>
            <input [(ngModel)]="user.lastname" type="text" pInputText placeholder="Last Name" formControlName="lastname">
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('lastname').invalid && registerForm.get('lastname').touched">Last Name is required</div>
        </div>

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-at"></i>
            </span>
            <input [(ngModel)]="user.email" type="email" pInputText placeholder="Email" formControlName="email">
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">Invalid email adress</div>
        </div>

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-at"></i>
            </span>
            <p-dropdown placeholder="Select a User Type" [showClear]="true" [style]="{'width':'200px'}" [(ngModel)]="user.userType" [options]="userTypes"
              formControlName="userType"></p-dropdown>
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('userType').invalid && registerForm.get('userType').touched">Invalid User Type</div>
        </div>

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-key"></i>
            </span>
            <input [(ngModel)]="user.password" type="password" pInputText placeholder="Password" formControlName="password">
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">Invalid password, minimum length should be 6 </div>
        </div>

        <div class="ui-g-12 form-group">
          <div class="ui-inputgroup">
            <button pButton type="submit" style="margin : auto"  label="Register"></button>
          </div>
        </div>

      </div>

    </form>



  </div>



</div>
