
<div class ="container">
       
       
         
            
       <div class="ui-toolbar-group-right">
            <div class='is-grouped'>
        <ul >  
                
        <li style="display: inline-block;"><button pButton  type="button"  icon="fas fa-cog" (click)="showDialog()"class="ui-button-primary"></button> </li>&nbsp;&nbsp;&nbsp;
        <li style="display: inline-block;"><button pButton type="button" icon="pi pi-times"  class="ui-button-primary"></button></li>
            
       </ul>   
       </div>
    </div>
 
   
        

         <!--div class="container2" *ngIf="display" >
                <hr>

             <h5>My Links</h5>
        <div *ngFor="let bt of buttons">
                <a href="{{bt.url}}" target="_blank">
                    <button type="button" class="btn btn-primary">{{bt.name}}</button>
                </a>
                <br>
                <br>
          
             
      </div!-->
      </div>
    <ul *ngFor="let item of collection" >
    <li></li>
    </ul>
      <div class="container" style="margin-top: 4%" *ngIf="!display">

<div  [formGroup]="profileForm">
      <div formArrayName="aliases">
 <fieldset id="titre"> 
        <table> 
        
      
         
        <td style="padding-left: 4px" valign="top"><label><h6>Name : </h6> </label> <input type="text"  readonly><br></td> 
        <td style="padding-left: 4px;" valign="top"><label><h6>Url : </h6> </label> <input type="text" readonly></td> 
        <div class="content">   
  <p-button icon="pi pi-plus"  (onClick)="addlink()" ></p-button>
       </div>
        <tr *ngFor="let address of aliases.controls; let i=index"> 
         
       <td>

         <input type="text"   name="name"  #name  [formControlName]="i" size=25 id="name"  tabindex="10"></td>
        <td><input type="url" name="url"    #url   [formControlName]="i" id="url" size=25 tabindex="55"></td>
<div class="container0">
        <td><p-button styleClass="ui-button-primary" style="margin-top: 0.1%" icon="fas fa-check"   (onClick)="save(name.value , url.value)"  ></p-button></td>
        
        <td>
           
        <p-button styleClass="ui-button-danger" style="margin-top: 0.1%" icon="fas fa-times-circle"   (onClick)=" deletef(row)" ></p-button>
    
        
        </td>
    </div>
     
        </tr> 
        </table> 
        </fieldset> 
        </div>
        </div>
        
      <!---div *ngFor="let bt of buttons">
          <a href="{{bt.url}}" target="_blank">
              <button type="button" class="btn btn-primary">{{bt.name}}</button>
          </a>
          <br>
          <br>
         
      </div-->

      <div class="ui-g-12 form-group">
              <div class="ui-inputgroup">
      <p-button style="margin: auto" type="button" label="save" icon="fas fa-save"  (onClick) = "savel()"  class="ui-button-warning"></p-button>
      </div>
      </div>
   
    </div>
    <div class="container2" *ngIf="display" >
           
    <div class="card" style="margin-top: 1%">
            <div class="card-body">
              <form>
                    <!--div class="content">
                            <ul *ngFor="let item of link" >
                                <li>
                                      <a href="{{item.url}}" target="_blank"></a>
                             
                                </li>
                               <li>   {{item.name}}</li>
                            </ul>
                            </div-->
                <div class="form-group">
                        <h5>My Links</h5>
                                

                        <hr>
         <div *ngFor="let item of link">
            
             <a href="{{item[0].url}}" target="_blank">
                   {{item[0].name}}
                    </a>
         </div> 

                        <div *ngFor="let bt of buttons">
                                <a href="{{bt.url}}" target="_blank">
                                <!--button type="button" class="btn btn-primary"-->{{bt.name}}<!--/button-->
                                </a>
                                <br>
                                <br>
                                
                  
                             
                      
         </div></div>
      <!--ul *ngFor="let item of link" >
            <li>
                {{item.name}}
            </li>
            <li>
                    {{item.url}}
            </li>
            </ul>-->
              </form>
            </div>
        </div>
      
        
          </div>


