.container2{
    margin-top : 9%
}
.container{
    margin-top : 9%
}
h6{
    color : rgb(0, 102, 255);
    margin-top : 15%

}
.content {
    margin-top : 52%;
    margin-left : 10%
 
}
a{
    color: rgb(0, 102, 255);
    text-decoration: none;
}






