<app-home *ngIf="userIsLoggedIn || userService.isLogged"></app-home>

<router-outlet *ngIf="userIsLoggedIn==false && userService.isLogged==false" name="loginOutlet"></router-outlet>
    <!--app-merge-request-api></app-merge-request-api>
    <p>hello</p!-->

        <!--app-list-branches></app-list-branches!-->