<p-growl [(value)]="msgs"></p-growl>
<div class="container">
  <div class="ui-md-12">

    <h4 class="first">Mission Details</h4>


    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-pen"></i>
        </span>

        Mission Object

      </div>
      <div class="col-lg-8">{{mission.object}}</div>
    </div>

    
    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-pen"></i>
        </span>

        Mission Destination

      </div>
      <div class="col-lg-8">{{mission.destination}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-map-marked-alt"></i>
        </span>

        Mission City

      </div>
      <div class="col-lg-8">{{mission.city}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fab fa-internet-explorer"></i>
        </span>

        Web Site

      </div>
      <div class="col-lg-8">{{mission.websites}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-clock"></i>
        </span>

        Start Date

      </div>
      <div class="col-lg-8">{{mission.startDate}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-clock"></i>
        </span>

        End Date

      </div>
      <div class="col-lg-8">{{mission.endDate}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-paperclip"></i>
        </span>

        Paper Type

      </div>
      <div class="col-lg-8">{{mission.paperType}}</div>
    </div>

    <hr>
    <h3>Flight Details</h3>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
            <i class="fas fa-calendar-alt"></i>
          </span>

        Flight Departure Date

      </div>
      <div class="col-lg-8">{{mission.missionFlight.departure_date}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Flight Destination

      </div>
      <div class="col-lg-8">{{mission.missionFlight.destination}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-dollar-sign"></i>
        </span>

        Price

      </div>
      <div class="col-lg-8">{{mission.missionFlight.price}} $</div>
    </div>



    <hr>
    <h3>Hotel Details</h3>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Hotel

      </div>
      <div class="col-lg-8">{{mission.missionHotel.property_name}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Adress

      </div>
      <div class="col-lg-8">{{mission.missionHotel.address.line1}} - {{mission.missionHotel.address.city}} - {{mission.missionHotel.address.country}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-dollar-sign"></i>
        </span>

        Price :

      </div>
      <div class="col-lg-8">{{mission.missionHotel.total_price.amount}} $</div>
    </div>

    <hr>
    <h3>Mission Total Price</h3>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-dollar-sign"></i>
        </span>

        Total :

      </div>
      <div class="col-lg-8">{{mission.missionTotalPrice}} $</div>
    </div>


    <hr>


    <div class="row">
      <div class="col-lg-12">

        <p-button style="margin : auto; display: table;" label="Validate" (onClick)="onValidate()"></p-button>


      </div>
    </div>





  </div>
</div>
