<p-growl [(value)]="msgs"></p-growl>
<p-panel header="Mission Description">

  <form (ngSubmit)="submitMission()" [formGroup]="missionDescreptionForm">

    <div class="ui-md-12">

        <h4 class="first">Mission Details</h4>


      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-pen"></i>
          </span>
          <input [(ngModel)]="mission.object" type="text" pInputText placeholder="Mission Object" formControlName="missionObject" name="missionDesc">
        </div>
        <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionObject').invalid && missionDescreptionForm.get('missionObject').touched">
          Mission Object is required</div>
      </div>


      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-plane"></i>
          </span>
          <input [(ngModel)]="mission.destination" type="text" pInputText placeholder="Mission Destination" formControlName="missionDestionation"
            name="missionDest">
        </div>
        <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionDestionation').invalid && missionDescreptionForm.get('missionDestionation').touched">
          Mission Destination is required</div>
      </div>



      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-map-marked-alt"></i>
          </span>
          <input [(ngModel)]="mission.city" type="text" pInputText placeholder="Mission City" formControlName="missionCity" name="missionCity">
        </div>
        <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionCity').invalid && missionDescreptionForm.get('missionCity').touched">
          Mission City is required</div>
      </div>


      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fab fa-internet-explorer"></i>
          </span>
          <input [(ngModel)]="mission.websites" type="text" pInputText placeholder="Your Website" formControlName="userWebsite" name="website">
        </div>
        <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('userWebsite').invalid && missionDescreptionForm.get('userWebsite').touched">
          Web Site is required</div>
      </div>

      <hr>

      <h4 class="first">Start Date & End Date</h4>

      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-clock"></i>
          </span>
          <input [(ngModel)]="mission.startDate" type="date" pInputText placeholder="Start Date" formControlName="missionStartDate"
            name="startDate">
        </div>
        <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionStartDate').invalid && missionDescreptionForm.get('missionStartDate').touched">
          Start Date is required</div>
      </div>



      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fas fa-clock"></i>
          </span>
          <input [(ngModel)]="mission.endDate" type="date" pInputText placeholder="End Date" formControlName="missionEndDate" name="endDate">
        </div>
        <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionEndDate').invalid && missionDescreptionForm.get('missionEndDate').touched">
          End Date is required</div>
      </div>


      <hr>

      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="">
            Paper Type :
          </span>
          <p-selectButton [options]="paperType" class="paperType" [(ngModel)]="mission.paperType" name="paperType" [ngModelOptions]="{standalone: true}"></p-selectButton>
        </div>
      </div>
    </div>


<hr>
    <div class="form-group">
      <div class="ui-inputgroup">

        <p-button style="margin : auto" type="submit" label="Next"></p-button>

      </div>
    </div>





  </form>



</p-panel>
