<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>

<div class="container">

  <h2 class="title">Users</h2>

  <hr>

  <p>

    <p-progressBar mode="indeterminate" *ngIf="showLoading"></p-progressBar>

  </p>

  <p-dataTable [tableStyle]="{'table-layout':'auto'}" *ngIf="userList.length>0" [value]="userList" [rows]="10" [paginator]="true" selectionMode="single" [pageLinks]="3">

    <p-column field="firstname" header="First Name" ></p-column>
    <p-column field="lastname" header="Last Name"></p-column>
    <p-column field="email" header="Email"></p-column>
    <p-column field="userType" header="User Type"></p-column>
    
    <p-column header="Operation" >

        <ng-template let-row="rowData" pTemplate="body" >
  
          <p-button styleClass="ui-button-danger" icon="fas fa-trash-alt" (onClick)="deleteUser(row)" style="display: table ; margin: auto auto"></p-button>
          
        </ng-template>
  
  
      </p-column>
  </p-dataTable>

   

 


</div>
