
    
<div class="card text-center">
   
  <div class="card-body">
  
  
    <p class="card-text">{{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</p>
    <a href="#" (click)="openLinkInBrowser()">{{feed.title}}</a>
     
  </div>

  <div class="card-footer text-muted">
      {{feed.description | stripHtmlTags}}
  </div>


      <div class="content">
  <iframe  style="margin: 0 auto; border: 20px solid #ddd;"  [src]='openUrl()' width="560" height="315" allowfullscreen></iframe>
</div>
</div>

<!--h5 class="card-title">{{feed.title}}</h5-->
<!--iframe src="{{feed.link}}"></iframe!-->
<!--iframe id="{{patternId}}" [srcdoc]="srcdoc" > </iframe!-->

<!--iframe src="https://www.youtube.com/embed/1KT2asqA1J8"></iframe-->
