.content{
   
        -moz-border-radius:30px;
        -webkit-border-radius:30px;
        border-radius:30px;
      
        background-color: rgba(255,255,255,0.5);
        width:auto;
        height:auto;
        margin-left: auto ;
        margin-right: auto ;
        padding:10px;
        display: inline-block
    }
    p{
       margin-left : 5% 
    }
    a{
        margin-left : 10%  ;
        color : rgb(15, 138, 253)  
    }
    [type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {


  margin: 0;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  
.custom .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4; 
}

.custom .ui-scrollpanel-bar {
    background-color: #1976d2; 
    opacity: 1; 
    transition: background-color .3s; 
}

.custom .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}

