.content{
   
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;

  background-color: rgba(255,255,255,0.5);
  width:auto;
  height:auto;
  margin-left: auto ;
  margin-right: auto ;
  padding:10px;
  display: inline-block
}
p{
 margin-left : 10% 
}

a{
  margin-left : 10%  ;
  color : rgb(15, 138, 253)  
}
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {


margin: 0;

}

