


    
<div class="card text-center">
   

    <!--h5 class="card-title">{{feed.title}}</h5-->
  
    <p class="card-text">{{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</p>
    <a href="#" (click)="openLinkInBrowser()">{{feed.title}}</a>
    



  <div class="card-footer text-muted">
      {{feed.description | stripHtmlTags}}
  </div>
  <!--div class="card-footer text-muted">
      <!--div class="content">
          <img src ="{{feed.image}}" width="560" height="315" >
    </div>
    
      
      </div-->
    

</div>



