<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>

<div class="container">

  <h2 class="title">My History</h2>

  <hr>

  <p>

    <p-progressBar mode="indeterminate" *ngIf="showLoading"></p-progressBar>

  </p>

  <div class="alert alert-info" *ngIf="missionList.length==0 && !showLoading">
    You haven't missions yet, you can submit a mission
    <span style="font-weight: bold">
      <a href="#" routerLink="/descr">here</a>
    </span>
  </div>


  <p-dataTable *ngIf="missionList.length>0" [value]="missionList" [rows]="10" [paginator]="true" selectionMode="single" [pageLinks]="3">
    <p-column field="object" header="Mission Object"></p-column>
    <p-column field="startDate" header="Departure Date"></p-column>
    <p-column field="endDate" header="Return Date"></p-column>
    <p-column field="websites" header="Web Site"></p-column>
    <p-column field="paperType" header="Paper"></p-column>
    <p-column field="missionTotalPrice" header="Total Price $"></p-column>
    <p-column field="missionFlight.destination" header="Airport Destination"></p-column>
    <p-column field="missionHotel.property_name" header="Hotel"></p-column>
    <p-column field="missionStatus" header="Status" [style]="{'width': '120px'}">
      <ng-template let-row="rowData" pTemplate="body">

        <p-button label="Accepted" *ngIf="row.missionStatus=='accepted'" styleClass="ui-button-success" style="display: table ; margin: auto auto"></p-button>
        <p-button label="Rejected" *ngIf="row.missionStatus=='rejected'" styleClass="ui-button-danger" style="display: table ; margin: auto auto"></p-button>
        <p-button label="Pending" *ngIf="row.missionStatus=='pending'" styleClass="ui-button-warning" style="display: table ; margin: auto auto"></p-button>

      </ng-template>
    </p-column>

    <p-column header="Operation" >

      <ng-template let-row="rowData" pTemplate="body">

        <p-button styleClass="ui-button-inof" icon="fas fa-eye" (onClick)="showMission(row)" ></p-button>&nbsp;&nbsp;&nbsp;
     
        <p-button styleClass="ui-button-success" icon="fas fa-edit" (onClick)="editMission(row)" ></p-button>
      
        <p-button styleClass="ui-button-danger"  style="display: table ; margin-top : -33%;margin-left: 100% " icon="fas fa-trash-alt" (onClick)="deleteMission(row)"></p-button>
 

      </ng-template>


    </p-column>


  </p-dataTable>




  <p-dialog header="Mission details" [(visible)]="display" *ngIf="display">




    <h4 class="first">Mission Details</h4>


    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-pen"></i>
        </span>

        Mission Object

      </div>
      <div class="col-lg-8">{{missionToShow.object}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-pen"></i>
        </span>

        Mission Destination

      </div>
      <div class="col-lg-8">{{missionToShow.destination}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-map-marked-alt"></i>
        </span>

        Mission City

      </div>
      <div class="col-lg-8">{{missionToShow.city}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fab fa-internet-explorer"></i>
        </span>

        Web Site

      </div>
      <div class="col-lg-8">{{missionToShow.websites}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-clock"></i>
        </span>

        Start Date

      </div>
      <div class="col-lg-8">{{missionToShow.startDate}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-clock"></i>
        </span>

        End Date

      </div>
      <div class="col-lg-8">{{missionToShow.endDate}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-paperclip"></i>
        </span>

        Paper Type

      </div>
      <div class="col-lg-8">{{missionToShow.paperType}}</div>
    </div>

    <hr>
    <h3>Flight Details</h3>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Flight Departure Date

      </div>
      <div class="col-lg-8">{{missionToShow.missionFlight.departure_date}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Flight Destination

      </div>
      <div class="col-lg-8">{{missionToShow.missionFlight.destination}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Price

      </div>
      <div class="col-lg-8">{{missionToShow.missionFlight.price}} $</div>
    </div>
    <hr>
    <h3>Hotel Details</h3>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Hotel

      </div>
      <div class="col-lg-8">{{missionToShow.missionHotel.property_name}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Adress

      </div>
      <div class="col-lg-8">{{missionToShow.missionHotel.address.line1}} - {{missionToShow.missionHotel.address.city}} - {{missionToShow.missionHotel.address.country}}</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Price :

      </div>
      <div class="col-lg-8">{{missionToShow.missionHotel.total_price.amount}} $</div>
    </div>

    <hr>
    <h3>Mission Total Price</h3>

    <div class="row">
      <div class="col-lg-4">
        <span class="ui-inputgroup-addon">
          <i class="fas fa-pen"></i>
        </span>

        Total :

      </div>
      <div class="col-lg-8">{{missionToShow.missionTotalPrice}} $</div>
    </div>
    <hr>





  </p-dialog>



  <p-dialog header="Edit Mission" [(visible)]="displayEdit" *ngIf="displayEdit">


    <form (ngSubmit)="submitEditMission()" [formGroup]="missionDescreptionForm">

      <div class="ui-md-12">

        <h4 class="first">Mission Details</h4>


        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-pen"></i>
            </span>
            <input [(ngModel)]="missionToEdit.object" type="text" pInputText placeholder="Mission Object" formControlName="missionObject"
              name="missionDesc">
          </div>
          <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionObject').invalid && missionDescreptionForm.get('missionObject').touched">
            Mission Object is required</div>
        </div>


        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-plane"></i>
            </span>
            <input [(ngModel)]="missionToEdit.destination" type="text" pInputText placeholder="Mission Destination" formControlName="missionDestionation"
              name="missionDest">
          </div>
          <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionDestionation').invalid && missionDescreptionForm.get('missionDestionation').touched">
            Mission Destination is required</div>
        </div>



        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-map-marked-alt"></i>
            </span>
            <input [(ngModel)]="missionToEdit.city" type="text" pInputText placeholder="Mission City" formControlName="missionCity" name="missionCity">
          </div>
          <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionCity').invalid && missionDescreptionForm.get('missionCity').touched">
            Mission City is required</div>
        </div>


        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fab fa-internet-explorer"></i>
            </span>
            <input [(ngModel)]="missionToEdit.websites" type="text" pInputText placeholder="Your Website" formControlName="userWebsite"
              name="website">
          </div>
          <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('userWebsite').invalid && missionDescreptionForm.get('userWebsite').touched">
            Web Site is required</div>
        </div>

        <hr>

        <h4 class="first">Start Date & End Date</h4>

        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fas fa-clock"></i>
            </span>
            <input [(ngModel)]="missionToEdit.startDate" type="date" pInputText placeholder="Start Date" formControlName="missionStartDate"
              name="startDate">
          </div>
          <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionStartDate').invalid && missionDescreptionForm.get('missionStartDate').touched">
            Start Date is required</div>
        </div>



        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fas fa-clock"></i>
            </span>
            <input [(ngModel)]="missionToEdit.endDate" type="date" pInputText placeholder="End Date" formControlName="missionEndDate"
              name="endDate">
          </div>
          <div class="alert alert-danger" *ngIf="missionDescreptionForm.get('missionEndDate').invalid && missionDescreptionForm.get('missionEndDate').touched">
            End Date is required</div>
        </div>


        <hr>

        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="">
              Paper Type :
            </span>
            <p-selectButton [options]="paperType" class="paperType" [(ngModel)]="missionToEdit.paperType" name="paperType" [ngModelOptions]="{standalone: true}"></p-selectButton>
          </div>
        </div>
      </div>


      <hr>
      <div class="form-group">
        <div class="ui-inputgroup">

          <p-button style="margin : auto" type="submit" label="Update"></p-button>

        </div>
      </div>





    </form>



  </p-dialog>





</div>
