
.container5{
width: 1000%;
margin-left : 50%
}
.container{
    width : 50%
}

.tab{
    margin-top: 30px;
    width : 500%
}
.tab .nav-tabs{
    border:none;
    border-bottom: 1px solid hsl(202, 71%, 60%);
    width : 500%
}
.nav-tabs li a{
    padding: 15px 40px;
    border:1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background:  rgb(0, 102, 255);
    color:#fff;
    border-radius: 0px;
    margin-right: 0px;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
    width : 500%
}
.nav-tabs li a:hover{
    border-bottom-color: #ededed;
    border-right: 0px none;
    background : rgb(0, 102, 255);
    color: #fff;
}
.nav-tabs li a i{
    display: inline-block;
    text-align: center;
    margin-right:10px;
}
.nav-tabs li:last-child{
    border-right:1px solid #0e0d0d;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover{
    border-top: 3px solid #00b0ad;
    border-right: 1px solid #d3d3d3;
    margin-top: -15px;
    color: rgb(250, 250, 250);
    padding: 22px 40px;
}
.tab .tab-content{
    padding: 20px;
    line-height: 22px;
    box-shadow:0px 1px 0px #808080;
    width : 900%
}
.tab .tab-content h3{
    margin-top: 0;
}
@media only screen and (max-width:500%){
    .nav-tabs li{
        width:100%;
        margin-bottom: 10px;
    }
    .nav-tabs li a{
        padding: 15px;
    }
    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover{
        padding: 15px;
        margin-top: 0;
    }
}
.container{
    margin-top: 40%
}
.container2{
    padding-left : 75%
}
.x{
    margin-left:70%;
    margin-top : 10%

}
#panel {
    padding: 12px;
    float: left;
    min-width:700px;
    position: fixed;
    }
#x {
        padding: 12px;
        float: left;
        padding-left: 18%;
        min-width:125px;
        position: fixed;
        }
    
        .custombar1 .ui-scrollpanel-wrapper {
            border-right: 9px solid #f4f4f4;
        }
            
        .custombar1 .ui-scrollpanel-bar {
            background-color: #1976d2;
            opacity: 1;
            transition: background-color .3s;
        }
            
        .custombar1 .ui-scrollpanel-bar:hover {
            background-color: #135ba1;
        }
            
        .custombar2 .ui-scrollpanel-wrapper {
            border-right: 9px solid #757575;
            border-bottom: 9px solid #757575;
        }
            
        .custombar2 .ui-scrollpanel-bar {
            background-color: #68C77D;
            border-radius: 0;
            opacity: 1;
            transition: background-color .3s;
        }
            
        .custombar2:hover .ui-scrollpanel-bar {
            background-color: #46A55A;
        }
        [type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {


  margin: 0;

}

  
