
<!--div class="container2">
<p-tabView >
    <p-tabPanel  header="Slide I">
        <div class="container">
        <app-setting></app-setting>
        </div>
    </p-tabPanel>
    <p-tabPanel   header="Slide II">
      <app-video-config></app-video-config>
    </p-tabPanel>
    <p-tabPanel    header="Slide III">
     <app-tache3></app-tache3>
    </p-tabPanel>

</p-tabView>
</div-->




<div class="container5">
                <div class="row">
                <div class="col-md-8">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-cogs"></i>Slide 1</a>
                       </li>
                        <li role="presentation"><a href="#Section2"  aria-controls="profile" role="tab" data-toggle="tab"> <i class="fas fa-video"></i>Slide 2</a></li>
                        <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><i class="fas fa-book"></i>Slide 3</a></li>
                        <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab">Slide 4</a></li>
                    </ul>
                    
                    
                    <!-- Tab panes -->
                    <!--div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                      
                        </div-->
                        <!--h3><i class="fas fa-wrench">Internet link configuration</i></h3>
                        <app-setting></app-setting>
                        <hr-->
                          <!--div class="container">
                          <app-dashcolla></app-dashcolla-->
                            
                            <div class="tab-content tabs"  >
                                
                        <div role="tabpanel" class="tab-pane fade  show in active" id="Section1"  >
                        
                                <ul >  
                                        <li style="display: inline-block ; width : 50%">   
                                              <p-panel>
                                                <p-header>
                                                        <i class="fas fa-bars"></i>
                                                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px"><h5>Internet Link Configuration</h5></span>
                                                       
                                                   
                                                    </p-header>
                                <app-setting></app-setting>
                               
                            </p-panel>
            
                </ul>
                       
                    </div> 
                        <!--/div-->
                      
                            
                      
                        
                        <div role="tabpanel" class="tab-pane fade"  id="Section2">
                               

                            
                        <p-scrollPanel [style] ="{width: '100%', height: '900px'}" styleClass="custombar1">
                                    <div style="padding:1em;line-height:1.5">
                                     <app-fluxrss></app-fluxrss>
                                     </div>
                         </p-scrollPanel>
                                    </div>
                        <div role="tabpanel" class="tab-pane fade"  id="Section3">
                                <div style="padding:1em;line-height:1.5">
                            <p-scrollPanel [style]="{width: '100%', height: '900px'}" styleClass="custombar1">
                          <app-flux></app-flux>
                          
                           
                    </p-scrollPanel>
                        <div role="tabpanel" class="tab-pane fade"  id="Section4">
                                <div style="padding:1em;line-height:1.5">
                                        <p-scrollPanel [style]="{width: '100%', height: '900px'}" styleClass="custombar1">
                                            hello 
                                           
                                            </p-scrollPanel>
                                            </div>
                          
                        </div>
                                   
                    </div>
                           
                </div>

            </div>
        </div> 
          
                      



